﻿@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}
a { 
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Poster section*/
#poster {
    background-image: url(./img/poster.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#poster::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#poster .poster {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#poster h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#poster h1:nth-child(1){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 1s;
}
#poster h1:nth-child(2){
    animation-delay: 2s;
}
#poster h1:nth-child(3){
    animation-delay: 3s;
}
#poster h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#poster h1:nth-child(1) span{
    animation-delay: .5s;
}
#poster h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#poster h1:nth-child(3) span{
    animation-delay: 2.5s;
}
/*End of poster section*/

/*Services section*/
#services{
    background-color: white;
}
#sevices::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 2;
}
#services .services {
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
        padding: 100px 0;
}
#services .section-title {
    font-size: 3rem;
    font-weight: 50px;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#services .section-title span{
    color:crimson;
}
#services .service-top p{
    font-size: 1.6rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 3000px;
    letter-spacing: .05rem;
}


/*End of servies section*/
/*Key frames*/
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }   
    100%{
        width: 0;
        left: 100%
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: crimson;
        font-weight: 500%;
    }
}
/*End of key frames*/
